BasedOnStyle: LLVM # LLVM | Google | Chromium | Mozilla | WebKit | Microsoft | GNU
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
UseTab: Never
SpaceBeforeCpp11BracedList: true
IndentCaseLabels: true
IndentCaseBlocks: false