CompileFlags:
  CompilationDatabase: "build"
  Add: [
    -std=c++23,
    -Wall,
    -Wextra,
    -Wpedantic,
    -Iinclude/,
    -I/usr/include/opencv4,
    -Iastroutils/include
  ]
  Remove: [-fcondition-coverage]